@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');

body {
    background-color: black !important;
    color: white !important;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 인트로 */
.intro {
    height: 100vh;
    background: url('./assets/background.jpeg');
}

.intro:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(to top, black, transparent);
}

.intro-typing {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 200px;
    left: 100px;
    right: 100px;
    line-height: 40px;
}


/* 네비게이션바 */
.nav-bar-down {
    position: fixed;
    z-index: 2;
    background-color: black;
    width: 100%;
}

.nav-bar-up {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.nav-bar-item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

/* 홈화면 */
.spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.movie_container {
    width: 80%;
    margin: 0 auto;
}

.movie_container h3 {
    margin: 25px 0 10px 0;
}

/* 배너 */
.banner {
    display: flex;
    align-items: end;
    width: 100%;
    height: 800px;
    background-position: 50%;
}

.banner::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 600px;
    content: '';
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

.banner-info {
    width: 50%;
    margin: 100px;
    z-index: 1;
}

.banner-info div {
    margin-top: 10px;
}

.banner-info Button {
    margin-right: 10px;
}

.banner-video {
    /* position: relative;
    width: 100%;
    height: 800px;
    padding-bottom: 56.25%;
    padding-top: 70px; */
    position: relative;
    height: 0px;
    padding-top: 70px;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.banner-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner-video Button {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 150px;
    background: rgb(151, 151, 151, 0.5);
    border-radius: 50%;
    border: 0px;
    color: white;
}



/* 영화 카드 */

.card {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 5px;
    background-color: black;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0 0 5px #000;
    border: none !important;
    transition: 0.5s;
    text-decoration-line: none;
}

.overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    align-items: center;
    display: inline;
    padding-top: 12px;
}

.head {
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    color: white;
}

.head hr {
    display: block;
    width: 0;
    border-bottom: solid 1px white;
    transition: all 0.5s;
}

.head span {
    font-size: 15px;
    font-weight: 500;
    line-height: 10px;
}

.card-icon-row {
    padding-top: 20px;
}

.card-text {
    font-size: 15px;
    color: white;
}

.card:hover .overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}


.card:hover .overlay hr {
    width: 100%;
    transition-delay: 0.3s;
}

/*영화 상세 정보 페이지*/
.detail-container {
    padding-top: 90px;
}

.detail-poster {
    width: 100%;
    height: 100%;
}

.detail-badge {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 13px;
}

.detail-tag-line {
    margin: 10px 0px;
    font-size: 20px;
    font-style: italic;
}

.detail-vote span {
    margin: 5px 10px 5px 0;
    font-style: italic;
}

.detail-origin-title {
    color: grey;
    font-size: 15px;
}

.detail-movie-info {
    width: 60px;
    margin-right: 8px;
}

.detail-cast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.detail-cast Button{
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

/*영화 배우 cast card*/
.castcard {
    margin-right: 10px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    background-color: black;
}

.castcard img {
    width: 100%;
    height: 180px;
}

.castcard-info {
    height: 80px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

.castcard-info .name {
    font-weight: 600;
}

.castcard-info .character {
    font-weight: 200;
}



@media screen and (max-width: 50rem) {

    .banner-info {
        width: 80%;
        margin: 50px;
    }

    .banner-info h1 {
        font-size: 30px;

    }

    .banner-info span {
        font-size: 10px;

    }

    .intro-typing h2 {
        font-size: 20px;
    }

    .intro-typing {
        left: 50px;
        right: 50px;
    }

    .overlay {
        opacity: 1;
    }

    .head hr {
        display: block;
        width: 100%;
        border-bottom: solid 1px white;
        transition: all 0.5s;
    }
}